.restaurant_Container {
    width: 100%;
    // padding: 35px 35px;
    margin-top: 140px;

    .topConatiner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .restaurant_heading {
            // width: 35%;
            width: 32%;
            display: flex;
            justify-content: center;
            align-items: center;
            // padding: 15px 15px;

            p {
                font-family: Lorin;
                font-size: 30px;
                font-weight: 800;
                line-height: 20px;
                // text-align: left;
                color: #232323;
                

            }
        }

        .Button_Switching {
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;

        }

    }

    .Restaurant_search_Input {
        margin: 0 auto;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        gap: 10px;
       
        @media (max-width:1024px) {
            width: 90%;
        }

              @media (max-width:476px) {
                width: 100%;
              }

        .InputConatiner {
            position: relative;
            display: flex;
            justify-content: start;
            width: 75%;
              @media (max-width:1024px) {
                width: 95%;
              }

              @media (max-width:476px) {
                width: 100%;
              }



            img {
                position: absolute;
    
                left: 7px;
                top: 15px;
            }

        }

        .filterList {
            border: 1px solid #4B0082;
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px 0px 0px 0px;
            opacity: 0px;
            border-radius: 5px;
            cursor: pointer;

            img{
                display: block;
                width: 60%;
            }
        }
    }

    .MapResponsive{
        overflow: hidden;
        height: 100%;
        padding: 10px 0px;
        margin-top: 10px;
        .iframe{
            border: 0;
            height: 100%;
            width: 100%;
        }
    }


    @media (max-width:832px) {
        .topConatiner{
            
            .restaurant_heading{
                width: 40%;
                p{
                    font-size: 25px;
                }
            } 

            .Button_Switching{
                
            }
        }

        .Restaurant_search_Input {
            // width: 90%;
        
            .InputConatiner {
            //   width: 80%; 
              margin-bottom: 10px; 
            }
        
            
          }
    }

    @media (max-width:526px) {
        .topConatiner{
            justify-content: space-around;
            .restaurant_heading{
                width: 50%;
                p{
                    font-size: 20px;
                }
            }
        }
    }



}