.card{
    // height: 100px;
    width: 90%;
    margin: 30px auto;
    border-bottom: 1px solid #23232380;

    // background-color: red;
    font-family: "Lorin";
    cursor: pointer;
    
    .restaurantcard{
        display: flex;
        width: 100%;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        // background-color: pink;

        .restname{
            font-weight: 700;
            font-size: 30px;
            color: #232323;
        }
        .imgdiv{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            .img{
                width:10%

                
            }
                .img1{
                    width: 32%;
                    border-radius: 10px;
                    object-fit: cover;
                }
                .viewmore{
                    border-radius: 10px;
                    position: relative;
                    width: 32%;
                    z-index: -2;
                    .viewmoretext{
                        // z-index: 1;
                        font-weight: 400;
                        font-size: 40px;
                        color: white;
                        position: absolute;
                        height: 54%;
                        width: 100%;
                        margin-top: auto;
                        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
                        border-radius: 10px;
                        padding-top: 38%;
                        cursor: pointer;
                        @media screen and (max-width:700px) {
                            font-size: 20px;
                        }
                        @media screen and (max-width:400px) {
                            font-size: 15px;
                        }



                    }
                    .img3{
                        cursor: pointer;

                        
                        border-radius: 10px;
                        width: 100%;
                        height: 100%;
    
                    }
                }
 
                  
    
                  
                  
                
        }

        .info{
            width: 100%;
            margin-top: 20px;
            margin-bottom: 40px;
            .auth{
                // background-color:red;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .head{
                    font-size: 30px;
                    font-weight: 400;  
                    @media screen and (max-width:868px) {
                        font-size: 25px;
                    }
                    @media screen and (max-width:600px) {
                        font-size: 19px;
                    }
                }
                .barnum{
                    // background-color: red;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 80%;
                
                    .bar{
                        width: 90%;
                        height: 20px;
                        // background-color: pink;
                        margin-right: 10px;
                        border-radius: 50px;
                        border: 2px solid #4B0082;
                        @media screen and (max-width:900px) {
                            height: 10px;
                        }
                        .barspan{
                            // width: 80%;
                            height: 100%;
                            border-radius: 50px;
                            background-color: #4B0082;
                        }
                    }
                }
            }
        }
    }
}




























// .card {
//     width: 80%;
//     display: flex;
//     flex-direction: column;
//     gap: 10px;
//     padding-top: 20px;

//     h3 {
//         font-family: Lorin;
//         font-size: 28px;
//         font-weight: 700;
//         line-height: 18px;
//         text-align: left;
//         color: #232323;
//     }

//     .imageContainer {
//         display: flex;
//         gap: 10px; // Adjust the gap between images as needed

//         img {
//             width: calc(33.33% - 10px);
//             max-width: 100%;
//             border-radius: 8px;
//         }
//     }

//     .AuthenticityContainer {
//         display: flex;
//         gap: 5px;
//         // justify-content: center;
//         align-items: center;

//         .emptyRectangle {
//             width: 282px;
//             height: 10px;
//             top: 350px;
//             left: 108px;
//             gap: 0px;
//             border-radius: 50px;
//             border: 2px 0px 0px 0px;
//             opacity: 0px;
//             border: 2px solid #4B0082;

//             .filledRectangle {
//                 width: 67px;
//                 height: 7px;

//                 gap: 0px;
//                 border-radius: 0;
//                 opacity: 0px;
//                 background: #4B0082;

//             }
//         }
//     }

//     .TasteConatiner {
//         display: flex;
//         align-items: center;
//         gap: 5px;

//         .emptyRectangle1 {
//             width: 282px;
//             height: 10px;
//             top: 371px;
//             left: 108px;
//             gap: 0px;
//             border-radius: 50px;
//             border: 2px 0px 0px 0px;
//             opacity: 0px;
//             border: 2px solid #4B0082;
//             .filledRectangle1{
//                 width: 216px;
//                 height: 7px;
//                 top: 371px;
//                 left: 107px;
//                 gap: 0px;
//                 border-radius: 0;
//                 opacity: 0px;
//                 background: #4B0082;

                
//             }
//         }
//     }
// }