

.sliderContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  // width: calc(100% - 30px);
  height: 21px;
  background: #d3d3d3;
  outline: none;
  border-radius: 10px;
  border: 2px solid #4B0082;
  margin: 0; /* Reset margin */

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px; /* Adjust thumb size */
    height: 25px; /* Adjust thumb size */
    background: #4B0082;
    cursor: pointer;
    border-radius: 50%;
    // margin-top: -12px; 
    margin-left: -3px;
    @media (max-width:450px) {
      // margin-left: 10px;
    }
  }
}

.progress {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #4B0082;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.valuesection{
  margin-left: 18px;
  font-size: 18px;
}